<div class="container">
    <div class="row">
        <h1>registrate</h1>
        <i class="material-icons">person</i>
        <!-- nombre de usuario-->
        <mat-form-field appearance="fill">
            <mat-label>ingrese nombre de usuario</mat-label>
            <!--ng model =directiva bidireccional utilizada para formularios-->
            <input [(ngModel)]="usuarios.nombre" matInput placeholder="ej: pepe@gmail.com">
            <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
            <mat-hint>Hint</mat-hint>
          </mat-form-field>
        <!--rol de usuario-->
        <mat-form-field>
          <mat-label>seleccione rol de usuario</mat-label>
          <select [(ngModel)]="usuarios.rol" matNativeControl required>
            <option value="admin">Administraor </option>
            <option value="vist">Visitante</option>
          </select>
        </mat-form-field>

        <!--email-->
          <mat-form-field appearance="fill">
            <mat-label>ingrese su email</mat-label>
            <input [(ngModel)]="usuarios.email" matInput placeholder="ej: pedro">
            <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
            <mat-hint>Hint</mat-hint>
          </mat-form-field>

        <!--apellido-->
          <mat-form-field appearance="fill">
            <mat-label>ingrese su apellido</mat-label>
            <input [(ngModel)]="usuarios.apellido" matInput placeholder="ej: pedro">
            <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
            <mat-hint>Hint</mat-hint>
          </mat-form-field>

        <!--contraseña-->
        <mat-form-field>
            <mat-label>Enter your password</mat-label>
            <input [(ngModel)]="usuarios.password" matInput [type]="hide ? 'password' : 'text'" #input minlenght ="6" required>
            <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
              <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
            </button>
            <mat-hint align="start">minimo:6/{{input.value.length}}</mat-hint>
          </mat-form-field>
          <!--boton para enviar informacion a base de datos-->
        <button class="boton" mat-raised-button color="primary" (click)="registrar(

        
        )">registrar</button>
    </div>
</div>